	h1
	{
	color: White;
	
	}
		
		#map-container
	{	
		top: 10%;
		left: 1%;
		height: 400px;
		width: 500px;
		margin: 0 auto;
    }
	
	#redbox
		{
			
			height: 200px;
			width: 200px;
			background-color: red;
			opacity:0.7;
			border: 3px double black;
			;
		
		}
	
	
	
